$header-height: 60px;
$left-sidebar-width: 256px;
$background-color: #f0f3f6;
$white: #fff;

.left-sidebar {
  position: relative;
  float: left;
  width: $left-sidebar-width;
  height: calc(100% - #{$header-height});
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 0;

  &__user-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    padding-top: 40px;
    background-image: url('../../../assets/images/account-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: right;
    min-height: 120px;
    color: $white;

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      border: .2rem solid $white;
    }
  }

  &__pages-section {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px solid $background-color;

      button {
        display: flex;
        align-items: center;
        color: #7b7b7b;
        transition: background-color .12s linear;
        user-select: none;
        width: 100%;

        mat-icon {
          font-size: 1.3rem;
          color: grey;
        }

        span {
          font-size: 1rem;
        }

        &:hover {
          background-color: #f9fafb;
        }
      }
    }
  }
}
